name: Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  integration:
    name: Integration tests - PHP ${{ matrix.php }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.3']
    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Pull images
        run: composer integration-pull

      - name: Setup integration environment
        env:
          DATABASE_URL: postgres://postgres:password!@127.0.0.1:5432/users?charset=UTF-8
        run: composer integration-setup

      - name: Run tests
        env:
          DATABASE_URL: postgres://postgres:password!@127.0.0.1:5432/users?charset=UTF-8
        run: composer test-integration
